In [2]:
import pandas as pd
import numpy as np
import time
import random

In [3]:
df_01 = pd.read_csv('/Users/lf_ironhack/Desktop/Ironhack_Assignments/Case_Study_02_CustomerAnalysis/file1.csv')
df_02 = pd.read_csv('/Users/lf_ironhack/Desktop/Ironhack_Assignments/Case_Study_02_CustomerAnalysis/file2.csv')

In [4]:
df_01.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [5]:
df_02.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car

In [6]:
# Step 1: Merge both dataframes into one.

In [7]:
bigdata_df = df_01.append(df_02, ignore_index=True)
bigdata_df.count()
# WHAT ABOUT EMPTY ONES?

Customer                     2067
ST                           2067
GENDER                       1945
Education                    2067
Customer Lifetime Value      2060
Income                       2067
Monthly Premium Auto         2067
Number of Open Complaints    2067
Policy Type                  2067
Vehicle Class                2067
Total Claim Amount           2067
dtype: int64

In [8]:
df_01.count()
# WHAT ABOUT EMPTY ONES?

Customer                     1071
ST                           1071
GENDER                        954
Education                    1071
Customer Lifetime Value      1068
Income                       1071
Monthly Premium Auto         1071
Number of Open Complaints    1071
Policy Type                  1071
Vehicle Class                1071
Total Claim Amount           1071
dtype: int64

In [9]:
df_02.count()
# WHAT ABOUT EMPTY ONES?

Customer                     996
ST                           996
GENDER                       991
Education                    996
Customer Lifetime Value      992
Income                       996
Monthly Premium Auto         996
Number of Open Complaints    996
Total Claim Amount           996
Policy Type                  996
Vehicle Class                996
dtype: int64

In [11]:
bigdata_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323