## Challenge 2: ToDo

**First, import the Python random libary.**

In [1]:
import random

In the cell below, create a list named sample_list_1 with 80 random values.

Requirements:

    Each value is an integer falling between 0 and 100.
    Each value in the list is unique.

Print sample_list_1 to review its values

In [3]:
import random
sample_list_1 = []
for i in range(0,80): # number of random values to be created.
    n = random.randint(0,100)
    if i not in sample_list_1:
        sample_list_1.append(i)
print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

**Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80?**

In [4]:
converted_set_1 = set(sample_list_1)
if len(sample_list_1) == 80:
    print("The length is still 80.")
else: 
    print("The length is not 80 anymore. Now it is: " + str(len(sample_list_1)))

The length is still 80.

**Create another list named sample_list_2 with 80 random values.**

Requirements:

    Each value is an integer falling between 0 and 100.
    The values in the list don't have to be unique.
    
Hint: Use a FOR loop.

In [5]:
sample_list_2 = []
for i in range(0,80):
    n = random.randint(0, 100)
    sample_list_2.append(n)
    
print(sample_list_2)

[0, 57, 77, 95, 9, 22, 19, 18, 78, 65, 18, 77, 35, 33, 57, 83, 17, 65, 98, 34, 9, 97, 43, 68, 30, 62, 67, 66, 98, 94, 60, 55, 40, 7, 87, 73, 97, 12, 28, 81, 77, 73, 38, 91, 72, 27, 2, 21, 52, 46, 77, 57, 16, 13, 77, 82, 3, 26, 63, 46, 81, 71, 93, 37, 48, 69, 23, 91, 58, 41, 12, 32, 87, 28, 72, 3, 3, 80, 82, 89]

**Convert sample_list_2 to a set called set2. Print the length of the set. Is its length still 80?**

In [6]:
converted_set_2 = set(sample_list_2)
if len(sample_list_2) == 80:
    print("The length of sample_list_2 is still 80.")
else: 
    print("The length of sample_list_2 is not 80 anymore. Now it is: " + str(len(sample_list_1)))

The length of sample_list_2 is still 80.

**Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.**

In [7]:
set3 = converted_set_1.difference(converted_set_2)
print(set3)

{1, 4, 5, 6, 8, 10, 11, 14, 15, 20, 24, 25, 29, 31, 36, 39, 42, 44, 45, 47, 49, 50, 51, 53, 54, 56, 59, 61, 64, 70, 74, 75, 76, 79}

**Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4.**

In [8]:
set4 = converted_set_2.difference(converted_set_2)
print(set4)

set()

<span style="color:red">Unfortunately there are no elements in set2, that are not in set1.</span>

**Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5.**

In [9]:
set5 = converted_set_1.intersection(converted_set_2)
print(set5)

{0, 2, 3, 7, 9, 12, 13, 16, 17, 18, 19, 21, 22, 23, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 41, 43, 46, 48, 52, 55, 57, 58, 60, 62, 63, 65, 66, 67, 68, 69, 71, 72, 73, 77, 78}

**What is the relationship among the following values:**

    len(set1)
    len(set2)
    len(set3)
    len(set4)
    len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

**Create an empty set called set6.**

In [27]:
set6 = {}

**Add set3 and set5 to set6 using the Python Set update method.**

In [31]:
set6 = set3 | set5
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}

In [36]:
# Where is my mistake??
set6_2 = set3.update(set4)
print(set6_2)

None

**Check if set1 and set6 are equal.**

In [40]:
if converted_set_1==set6:
    print("The sets are equal.")
    
else:
    print("The sets are not equal.")

The sets are equal.

**Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.**

In [45]:
check1 = converted_set_1.issubset(converted_set_2)
print(check1) # false = doesn't contain the whole set2.

False

In [48]:
check2 = converted_set_1.issubset(set3)
print(check2) # true = does contain whole set3.

True

**Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2.**

In [50]:
unified_set1 = set3.union(set4, set5)
print(unified_set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}

In [52]:
unified_set2 = converted_set_1.union(converted_set_2)
print(unified_set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 87, 89, 91, 93, 94, 95, 97, 98}

**Check if the aggregated values are equal.**

In [55]:
equality_check = unified_set1.issubset(unified_set2)
print(equality_check) # true = does contain whole unified_set2 = values are equal.

True

**Using the pop method, remove an element from set1.**

In [66]:
set1 = converted_set_1.pop()
print(set1)

2

In [67]:
print(converted_set_1)

{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}

In [69]:
len(converted_set_1) #???

77

**Remove every element in the following list from set1 if they are present in the set. Print the remaining elements.**

In [71]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
converted_set_1.difference_update(list_to_remove)
print('Modified Set Contents:')
print(converted_set_1)

Modified Set Contents:
{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78}